body{
    
    border: 1px black solid;
    border-radius: 10px;
    height: 300px;
    text-align: center;
    padding-top: 100px;
   margin: auto;
   width: 50%;
   background-color: rgb(140, 216, 237);
   color: black;
   margin-top: 50px;
    


}
#age,#height,#weight{
height: 30px;
width:100px;
}